
@font-face {
    font-family: 'HelveticaNeueLTPro-Md';
    src: url('fonts/HelveticaNeueLTPro-Md.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeueLTPro-Md.otf')  format('opentype'),
    url('fonts/HelveticaNeueLTPro-Md.woff') format('woff'),
    url('fonts/HelveticaNeueLTPro-Md.ttf')  format('truetype'),
    url('fonts/HelveticaNeueLTPro-Md.svg#HelveticaNeueLTPro-Md') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BeyondTheMountains';
    src: url('fonts/BeyondTheMountains.eot?#iefix') format('embedded-opentype'),
    url('fonts/BeyondTheMountains.otf')  format('opentype'),
    url('fonts/BeyondTheMountains.woff') format('woff'),
    url('fonts/BeyondTheMountains.ttf')  format('truetype'),
    url('fonts/BeyondTheMountains.svg#BeyondTheMountains') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #2f2f2f;
    font-family: 'HelveticaNeueLTPro-Md';
}

img {
    vertical-align: baseline;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
    color: royalblue;
}

a:visited {
    color: purple;
}

a:hover, a:focus, a:active {
    color: midnightblue;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
    list-style: none;
}

/*--------------------------------------------------------------
# Helper Utilities
--------------------------------------------------------------*/
.flex {
    display: flex !important;
}

@media screen and (min-width: 992px) {
    .flex-lg {
        display: flex !important;
    }
}

/*--------------------------------------------------------------
# Outer Container
--------------------------------------------------------------*/
@media screen and (min-width: 1200px) {
    .outer-container {
        width: calc(100% - 90px);
        margin: 0 auto;
    }
}


/*
# Site Branding
--------------------------------*/

.site-title {
    font-size: 72px;
    font-family: 'BeyondTheMountains';
}

.site-title a {
    color: #2f2f2f;
    text-decoration: none;
}

.site-description {
    width: 284px;
    margin: -5px 0 0;
    font-size: 10px;
    letter-spacing: 0.26rem;
    color: #9d9d9d;
    text-transform: uppercase;
    text-align: right;
}

@media screen and (min-width: 576px){
    .site-title {
        font-size: 112px;
    }

    .site-description {
        width: 284px;
        margin: -10px 0 0;
    }
}

/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/
.single-page {
    padding-top: 165px;
    padding-bottom: 100px;

}
.content-wrap{
    border: solid 2px black;
    border-radius: 20px;
    padding: 5px;
}
.single-page .content-wrap {
    margin-top: 110px;
    text-align: center;
    color: #afafaf;
}

.single-page .content-wrap .posted-date {
    font-size: 12px;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}

.single-page .content-wrap .entry-title {
    margin-top: 12px;
    font-size: 30px;
    color: #2f2f2f;
}

.single-page .content-wrap .tags-links {
    margin-top: 35px;
}

.single-page .content-wrap .tags-links a {
    margin-right: 15px;
    font-size: 16px;
    color: #afafaf;
}

.single-page .content-wrap .featured-image {
    margin-top: 42px;
}

.single-page .content-wrap .featured-image img {
    max-width: 100%;
}

.single-page .content-wrap .entry-content {
    margin-top: 36px;
}

.single-page .content-wrap .entry-content p {
    font-size: 14px;
    line-height: 2rem;
    text-align: left;
}

.single-page .blockquote-text {
    padding-left: 114px;
    margin-top: 84px;
    font-size: 18px;
    line-height: 2.2rem;
    color: #2f2f2f;
    text-align: left;
    background: url("images/cocktaile.png") no-repeat left center;
}

.single-page .blockquote-text p::first-letter {
    font-size: 36px;
}

.single-page .content-wrap .entry-footer {
    margin-top: 50px;
}

.post-share,
.comments-count {
    width: 100%;
}

.post-share {
    padding: 0;
    margin: 30px 0 0;
    list-style: none;
    color: #afafaf;
}

.post-share label {
    margin: 0 12px 0 0;
    font-size: 18px;
}

.post-share li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin: 0 12px;
    font-size: 15px;
}

.post-share li a {
    color: #afafaf;
    transition: all 0.35s;
}

.post-share li a:hover {
    color: #2f2f2f;
}

.content-wrap a.read-more {
    display: block;
    width: 200px;
    padding: 20px 0;
    margin-top: 30px;
    font-size: 14px;
    color: #fff;
    line-height: 1;
    background: #2f2f2f;
}

.comments-count {
    font-size: 16px;
    text-align: left;
}

.comments-count a {
    color: #afafaf;
}

@media screen and (min-width: 992px){
    .single-page {
        padding-top: 0;
    }

    .post-share {
        margin-top: 0;
    }

    .content-wrap a.read-more {
        margin-top: 0;
    }

    .comments-count {
        text-align: right;
    }

    .post-share,
    .comments-count {
        width: calc(50% - 100px);
    }
}
/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/
.page-header {
    position: relative;
    height: 385px;
    margin-top: 40px;
    background-size: cover;
}

.page-header h1 {
    font-size: 72px;
    font-family: 'BeyondTheMountains';
    color: #fff;
}

/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/
.about-second-image {
    margin-top: 100px;
}

.about-second-image img {
    max-width: 100%;
}

.about-page .post-share,
.about-page .comments-count {
    margin-top: 60px;
    width: 50%;
}

.awards-content {
    margin-bottom: 50px;
    text-align: center;
}

.awards-content h2 {
    margin: 0;
    font-size: 42px;
}

.awards-content h4 {
    margin-top: 8px;
    font-size: 20px;
}

.awards-content p {
    margin-top: 12px;
    font-size: 18px;
    color: #afafaf;
}

@media screen and (min-width: 992px){
    .awards-content {
        margin-bottom: 0;
    }

    .about-page .post-share,
    .about-page .comments-count {
        margin-top: 100px;
    }
}

/*--------------------------------------------------------------
# Blog Page
--------------------------------------------------------------*/
.about-page .content-wrap p,
.blog-page .content-wrap p {
    margin-bottom: 34px;
}

.blog-page-half-img {
    margin: 52px 0 0;
}

.blog-page-half-img img {
    display: block;
    width: 100%;
}

.blog-page .content-wrap .entry-footer {
    margin-top: 75px;
}

/*
# Comments
--------------------------------*/
.post-comments,
.comment-form {
    margin-top: 100px;
}

.post-comments h3 {
    font-size: 24px;
}

.comment-list {
    padding: 0;
    margin: 100px 0 0;
    list-style: none;
}

.comment-list .comment {
    margin-bottom: 40px;
}

.comment-list .comment:nth-last-of-type(1) {
    margin-bottom: 0;
}

.comment-author-avatar {
    width: 64px;
    height: 10px;
    margin-right: 20px;
    border-radius: 50%;
}

.comment-author-avatar img {
    width: 100%;
}

.comment-wrap {
    width: calc(100% - 84px);
}

.comment-author a {
    line-height: 1;
    color: #2f2f2f;
}

.comment-author .fn a,
.comment-author .comment-meta a {
    padding-right: 15px;
    margin-right: 15px;
    border-right: 2px solid #2f2f2f;
}

.comment-wrap p {
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.85rem;
    color: #afafaf;
}

.comment-reply-title {
    font-size: 24px;
}

.comments-form {
    margin-top: 75px;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form textarea {
    display: block;
    width: 100%;
    padding: 20px 32px;
    margin-bottom: 8px;
    border: 0;
    font-size: 12px;
    font-style: italic;
    line-height: 1;
    color: #aeaeae;
    background: #efefef;
    outline: none;
}

.comment-form input[type="submit"] {
    display: block;
    width: 200px;
    padding: 20px 0;
    margin-top: 70px;
    border: 0;
    font-size: 14px;
    color: #fff;
    line-height: 1;
    background: #2f2f2f;
}

@media screen and (min-width: 992px){
    .comment-author-avatar {
        width: 100px;
        margin-right: 42px;
    }

    .comment-wrap {
        width: calc(100% - 145px);
    }
}

/*--------------------------------------------------------------
# Contact Page
--------------------------------------------------------------*/
.contact-page .content-wrap .entry-header {
    text-align: left;
}

.contact-page .content-wrap .entry-content {
    margin-top: 90px;
}

.contact-page-social ul {
    padding: 0;
    margin: 60px 0 0;
    list-style: none;
}

.contact-page-social li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 15px;
    font-size: 18px;
}

.contact-page-social li a {
    color: #bec4c9;
    transition: all .35s;
}

.contact-page-social li a:hover {
    color: #2f2f2f;
}

.contact-form {
    margin-top: 90px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    display: block;
    width: 100%;
    padding: 20px 32px;
    margin-bottom: 8px;
    border: 0;
    font-size: 12px;
    font-style: italic;
    line-height: 1;
    color: #aeaeae;
    background: #efefef;
    outline: none;
}

.contact-form input[type="submit"] {
    display: block;
    width: 200px;
    padding: 20px 0;
    margin-top: 60px;
    border: 0;
    font-size: 14px;
    color: #fff;
    line-height: 1;
    background: #2f2f2f;
}

@media screen and (min-width: 768px){
    .contact-page-social li {
        margin-right: 65px;
        font-size: 24px;
    }
}


/*--------------------------------------------------------------
# About Me
--------------------------------------------------------------*/
.about-me {
    text-align: center;
}

.about-me h2 {
    font-size: 30px;
}

.about-me p {
    margin-top: 38px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.85rem;
    color: #afafaf;
}


/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.pagination {
    margin-top: 100px;
}

.pagination ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pagination li {
    margin-right: 10px;
}

.pagination li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 11px;
    color: #2f2f2f;
    background: #f0f0f0;
    text-decoration: none;
}

.pagination li a:hover,
.pagination li.active a {
    color: #fff;
    background: #2f2f2f;
}


